header{
    width: 100%;
    height: 10vh;
    background-color: var(--color-celesteO-200);
    display: grid;
    grid-template-columns: 75vw 25vw;
    justify-items: start;
    align-items: center;
    color: var(--color-gris-100);
    box-shadow: var(--shadow-header);
    border-bottom: 3px solid var(--color-celesteO-700);
    color: var(--color-gris-100);
}

header h2{
    padding-left: 2rem;
}

.titulo-enlace{
    text-decoration: none;
    color: var(--color-gris-100);
}

header span{
    justify-self: right;
    align-self: end;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.textoHorario{
    font: var(--fuente-400);
}
