@media screen and (max-width:1115px){

    .cabecera{
        height: 15vh;
        grid-template-columns: 70vw 30vw;
    }

    .estacion__contenedor-form{
        width: 90%;
    }

    .transparencia{
    background-color: var(--transparencia3);
    }

}

@media screen and (max-width:570px){

    .cabecera{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cabecera-titulo{
    padding: 0;
    margin-bottom: 1rem;
}

    .cabecera__span{
    justify-self: center;
    align-self: center;
    padding: 0;
}

.estacion__contenedor-form{
        width: 100%;
        border-radius: 0;
    }

}